@import '../../mq';

@media #{$tabletLandscape} {
  @import '../desktop';

  .header #video-bg {
    width: 129vw;
  }

  .program-time .time-item {
    font-size: 23px;
  }
  .container {
    max-width: 100%;
  }
}